* {
    border: 1px solid black;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

:root {
    --red900: #B71C1C;
    --red500: #F44336;
    --blue900: #0D47A1;
    --blue500: #2196F3;
    --green900: #1B5E20;
    --green500: #4CAF50;
    --yellow900: #F57F17;
    --yellow500: #FFEB3B;
}

.wrapper {
    flex: 1;
    display: flex;
    justify-content: center;
    width: 80vw;
}

.app {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    justify-content: center;
}

.controls {
    display: flex;
    justify-content: flex-start;
}

.tiles {
    display: flex;
    flex-wrap: wrap;
}

#display {
    display: flex;
    justify-content: flex-end;
}

.tiles > * {
    height: 10em;
    min-width: 100px;
    flex:1;
}

#blue {
    background-color: var(--blue900);
}

#yellow {
    background-color: var(--yellow900);
}

#red {
    background-color: var(--red900);
}

#green {
    background-color: var(--green900);
}

#yellow.light{
  background-color : var(--yellow500);
}

#blue.light{
  background-color : var(--blue500);
}

#red.light{
  background-color : var(--red500);
}

#green.light{
  background-color : var(--green500);
}

.win {
    background-color: var(--green500);
}

input[type=checkbox] {
  /*display: none;*/
}

input[type=checkbox] + label {
  padding: 0.5rem;
}
input[type=checkbox]:checked + label {
  color: var(--red500);
}
